name: Check Build

on:
  workflow_dispatch:
  push:
    branches: [ develop ]
    paths-ignore: 
      - '**.md'
      - '.config/**'
      - '.github/**'
      - '.idea/**'
      - 'assets/**'
  pull_request:
    branches: [ develop ]
    paths-ignore: 
      - '**.md'
      - '.config/**'
      - '.github/**'
      - '.idea/**'
      - 'assets/**'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        java: [17, 21, 25]
        distribution: [temurin]
    steps:
    - uses: actions/checkout@v6

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: ${{ matrix.distribution }}
        java-version: ${{ matrix.java }}

    - name: Cache Maven
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-mvn-build-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-mvn-build-

    - name: Build with Maven
      run: ./mvnw -B clean package -P run-integration-tests

    - name: Check for uncommited changes
      run: |
        if [[ "$(git status --porcelain)" != "" ]]; then
          echo ----------------------------------------
          echo git status
          echo ----------------------------------------
          git status
          echo ----------------------------------------
          echo git diff
          echo ----------------------------------------
          git diff
          echo ----------------------------------------
          echo Troubleshooting
          echo ----------------------------------------
          echo "::error::Unstaged changes detected. Locally try running: git clean -ffdx && ./mvnw -B clean package"
          exit 1
        fi

    - name: Upload standalone server JAR
      uses: actions/upload-artifact@v5
      with:
        name: server-${{ matrix.java }}
        path: server/target/server-standalone.jar
        if-no-files-found: error

    # Build docker
    - uses: docker/setup-qemu-action@v3

    - uses: docker/setup-buildx-action@v3

    - uses: docker/build-push-action@v6
      with:
        context: ./server
        push: false
        tags: mockserver-standalone:experimental
        platforms: linux/amd64,linux/arm64
        cache-from: type=gha
        cache-to: type=gha,mode=max

  checkstyle:
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'pull_request' || !startsWith(github.head_ref, 'renovate/') }}
    timeout-minutes: 15
    strategy:
      matrix:
        java: [17]
        distribution: [temurin]
    steps:
    - uses: actions/checkout@v6

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: ${{ matrix.distribution }}
        java-version: ${{ matrix.java }}

    - name: Cache Maven
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-mvn-checkstyle-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-mvn-checkstyle-

    - name: CheckStyle Cache
      uses: actions/cache@v4
      with:
        path: '**/target/checkstyle-cachefile'
        key: ${{ runner.os }}-checkstyle-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-checkstyle-

    - name: Run Checkstyle
      run: ./mvnw -B checkstyle:check -P checkstyle -T2C

  pmd:
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'pull_request' || !startsWith(github.head_ref, 'renovate/') }}
    timeout-minutes: 15
    strategy:
      matrix:
        java: [17]
        distribution: [temurin]
    steps:
    - uses: actions/checkout@v6

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: ${{ matrix.distribution }}
        java-version: ${{ matrix.java }}

    - name: Cache Maven
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-mvn-pmd-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-mvn-pmd-

    - name: PMD Cache
      uses: actions/cache@v4
      with:
        path: '**/target/pmd/pmd.cache'
        key: ${{ runner.os }}-pmd-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-pmd-

    - name: Run PMD
      run: ./mvnw -B test pmd:aggregate-pmd-no-fork pmd:check -P pmd -DskipTests -T2C

    - name: Run CPD (Copy Paste Detector)
      # Todo: Readd pmd:cpd-check - Disabled for now due to upstream code
      run: ./mvnw -B pmd:aggregate-cpd -P pmd -DskipTests -T2C

    - name: Upload report
      if: always()
      uses: actions/upload-artifact@v5
      with:
        name: pmd-report
        if-no-files-found: ignore
        path: |
          target/reports/**
